* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-button {
  color: #f5f5dc;
  width: 185px;
  height: 55px;
  border: 1px solid wheat;
  border-radius: 20px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  backdrop-filter: blur(20px)
}

.log-reg-btn {
  backdrop-filter: blur(20px);
}

.log-reg-dnld {
  backdrop-filter: blur(10px);
}
