* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: url("./assets/background.gif");
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -9999;
}

.main-page {
  position: relative;
}
.top-buttons {
  backdrop-filter: blur(10px);
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.main-button {
  color: #f5f5dc;
  width: 185px;
  height: 55px;
  border: 1px solid wheat;
  border-radius: 20px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  backdrop-filter: blur(20px)
}

.log-reg {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 25%;
  justify-content: space-evenly;
  backdrop-filter: blur(20px);
}

.log-reg-btn {
  color: #f5f5dc;
  border: 1px solid wheat;
  width: 155px;
  height: 55px;
  background-color: transparent;
  border-radius: 25px 25px 25px 0;
  font-size: 20px;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.log-reg-dnld {
  color: #f5f5dc;
  border: 1px solid wheat;
  width: 200px;
  height: 55px;
  background-color: transparent;
  border-radius: 25px 25px 0 25px;
  font-size: 20px;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.text {
  position: absolute;
  width: 300px;
  top: 250px;
  left: 100px;
  color: red;
  text-align: center;
  font-size: 30px;
  justify-content: center;
}

.text2 {
  position: absolute;
  width: 300px;
  color: white;
  top: 400px;
  left: 90vh;
}